h1 {
    text-align: center;
}
div {
    margin: 100px auto;
    border: 3px solid black
}

#outer {
    width: 500px;
    height: 500px;
    background-color: red;
}
#middle /* could use "div div" */ {
    width: 300px;
    height: 300px;
    background-color: blue;
}
#inner /* could use "div div div" */ {
    width: 100px;
    height: 100px;
    background-color: white;
}

/* Bonus */
table {
    margin: auto;
} 
td {
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
#white {
    background-color: white;
}

/* sides */
.top {
    border-top: 3px solid black;
}
.right {
    border-right: 3px solid black;
}
.bottom {
    border-bottom: 3px solid black;
}
.left {
    border-left: 3px solid black;
}
.center {
    border: 3px solid black;
}
